@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

$main-color: #02171c;
$second-color: #48BCD9;
$pink-d9: #D95D89;
$yellow: #D9CB32;
$white: #fff;
$animation: 0.2s linear;
$pink-ff: #fff2f2;

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}