@import '../../styles/root.scss';

.user-card {
  max-width: 400px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);

  &__card {
    padding: 10px;
    display: none;

    &_open {
      display: block;
    }
  }

  &__header {
    position:relative;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $pink-d9;
    color: $white;
  }

  &__top {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__name {
    font-size: 18px;

    &-box {
      display: flex;
      column-gap: 20px;
    }
  }

  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 145px;
    overflow: hidden;
  }

  &__img {
    width: 100%;
  }

  &__bottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    margin-left: 10px;
    text-decoration: none;
    color: $main-color;
    max-width: 200px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: color $animation;

    &-box {
      display: flex;
      color: $main-color;
      font-size: 18px;
    }

    &:hover {
      color: $pink-d9;
    }
  }

  &__id {
    font-size: 18px;
    font-weight: bold;
  }

  &__buttons {
    display: flex;
    align-items: center;
    column-gap: 10px
  }

  &__button {
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    background-size: cover;
    cursor: pointer;

    &_delete {
      background-image: url(../../assets/icons/delete-fill.svg);
    }

    &_visibility {
      background-image: url(../../assets/icons/visibility-fill.svg);
    }

    &_invisibility {
      background-image: url(../../assets/icons/invisibility-fill.svg);
    }

    &_favorite {
      background-image: url(../../assets/icons/star-fill.svg);
      cursor: auto;
    }
  }
}